# Python 編譯文件
*.pyc
__pycache__/
*.py[cod]

# 虛擬環境
.venv/
venv/

# 數據庫文件
*.sqlite3

# 日誌文件
*.log

# 環境變量文件
.env

# 操作系統生成的文件
.DS_Store
Thumbs.db

# IDE 和編輯器臨時文件
*.swp
*.swo
*.sublime-workspace
*.idea/

# 打包/分發文件
dist/
build/
*.egg-info/
