{% extends 'jewelry_demo_app/base.html' %}
{% block title %}聯絡我們{% endblock %}
{% block content %}
<div class="form-container">
    <h1>聯絡我們</h1>
    <p>歡迎聯繫我們！以下是我們的聯繫方式：</p>
    <ul>
        <li>電話：+852 1234 5678</li>
        <li>電子郵件：support@jewelrydemo.com</li>
        <li>地址：香港中環金融街1號</li>
    </ul>
    <form>
        <label for="name">姓名：</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">電子郵件：</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="message">訊息：</label><br>
        <textarea id="message" name="message" rows="4"></textarea><br>
        <button type="submit">提交</button>
    </form>
</div>
{% endblock %}